<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Cambiar contraseña</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput [type]="hideActual ? 'password' : 'text'" formControlName="actual">
                    <button mat-icon-button matSuffix (click)="hideActual = !hideActual" [attr.aria-label]="'Ocultar contraseña'"
                        [attr.aria-pressed]="hideActual">
                        <mat-icon>{{hideActual ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngIf="form.controls.actual.errors != undefined">
                        <div class="errorEnValidacion" *ngIf="form.controls.actual.errors.required">Debe introducir algún valor
                        </div>
                    </ng-container>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput [type]="hideNueva ? 'password' : 'text'" formControlName="nueva">
                    <button mat-icon-button matSuffix (click)="hideNueva = !hideNueva" [attr.aria-label]="'Ocultar contraseña'"
                        [attr.aria-pressed]="hideNueva">
                        <mat-icon>{{hideNueva ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngIf="form.controls.nueva.errors != undefined">
                        <div class="errorEnValidacion" *ngIf="form.controls.nueva.errors.required">Debe introducir algún valor
                        </div>
                    </ng-container>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="actualizarPassword()">Actualizar contraseña</button>
            <button mat-raised-button color="secondary" (click)="cancelar()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>
