.errorEnValidacion {
    margin-top: 5px;
    color: #a87878;
}

.card {
    max-width: 400px;
}

mat-form-field {
    width: 100%;
}

.main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}