<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button id="logo" (click)="navegarHaciaPrincipal()">
        <mat-icon>email</mat-icon><span id="titulo">AngularMail</span>
      </button>
  
      <span class="spacer"></span>
  
      <ng-container *ngIf="usuarioAutenticado != null">
        <button mat-button [matMenuTriggerFor]="menu" matTooltip="{{usuarioAutenticado.nombre}}">
          <app-imagen-usuario [usuario]="usuarioAutenticado" [width]="50" [height]="50"></app-imagen-usuario>
        </button> 
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navegarHaciaDatosPersonales()">
            <mat-icon>account_circle</mat-icon>Modificar mis datos
          </button>
          <button mat-menu-item (click)="navegarHaciaCambiaPassword()">
            <mat-icon>vpn_key</mat-icon>
            <span>Modificar contraseña</span>
          </button>
          <button mat-menu-item (click)="confirmacionAbandonarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Abandonar la sesión</span>
          </button>
        </mat-menu> 
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
