<div class="contenedorTabla">

    <mat-toolbar style="margin: 0px 10px;">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
            matTooltip="Selección sobre todos los mensajes">
        </mat-checkbox>
        <button mat-button color="primary" aria-label="Actualizar" matTooltip="Actualizar"
            (click)="actualizaListadoMensajes()">
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button color="primary" aria-label="Redactar nuevo mensaje" matTooltip="Redactar nuevo mensaje"
            (click)="nuevoMensaje()">
            <mat-icon>add</mat-icon>&nbsp;Redactar
        </button>
        <mat-divider [vertical]="true"
            *ngIf="botonArchivarHabilitado() || botonSpamHabilitado() || botonEliminarHabilitado()"></mat-divider>
        <button mat-button (click)="accionSobreMensajes(1)" color="primary" aria-label="Archivar" matTooltip="Archivar"
            *ngIf="botonArchivarHabilitado()">
            <mat-icon>archive</mat-icon>
        </button>
        <button mat-button (click)="accionSobreMensajes(2)" color="primary" aria-label="Marcar como Spam" matTooltip="Marcar como Spam"
            *ngIf="botonSpamHabilitado()">
            <mat-icon>report</mat-icon>
        </button>
        <button mat-button (click)="accionSobreMensajes(3)" color="primary" aria-label="Eliminar" matTooltip="Eliminar"
            *ngIf="botonEliminarHabilitado()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="accionSobreMensajes(4)" color="primary" aria-label="Mover a recibidos"
            matTooltip="Mover a recibidos" *ngIf="botonMoverARecibidosHabilitado()">
            <mat-icon>inbox</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <mat-paginator [length]="listadoMensajes.totalMensajes" [pageIndex]="0" [pageSize]="10" [hidePageSize]="true"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="actualizaListadoMensajes()" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-toolbar>


    <mat-tab-group (selectedTabChange)="cambioEnTiposDeMensajesVisualizados($event.index)" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">inbox</mat-icon>
                Recibidos
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">send</mat-icon>
                Enviados
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">report</mat-icon>
                Spam
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">archive</mat-icon>
                Archivados
            </ng-template>
        </mat-tab>
    </mat-tab-group>


    <table mat-table [dataSource]="dataSourceTabla" class="example-table" id="tablaMensajes">

        <!-- Columna con checkbox -->
        <ng-container matColumnDef="Select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Columna "De" -->
        <ng-container matColumnDef="De">
            <th mat-header-cell *matHeaderCellDef>De</th>
            <td mat-cell *matCellDef="let row">{{getTextoColumnaRemitente(row)}}</td>
        </ng-container>

        <!-- Columna "Asunto" -->
        <ng-container matColumnDef="Asunto">
            <th mat-header-cell *matHeaderCellDef>Asunto</th>
            <td mat-cell *matCellDef="let row">{{row.asunto}}</td>
        </ng-container>

        <!-- Columna "Fecha" -->
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let row">{{row.fecha | date:'dd/MM/yy HH:mm' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombresDeColumnas" hidden="hidden"></tr>
        <tr mat-row *matRowDef="let row; columns: nombresDeColumnas;" class="element-row {{row.leido ? '' : 'noLeido'}}"
            (click)="seleccionarMensaje(row)"></tr>
    </table>
</div>