.contenedorTabla {
    position: relative;
    min-height: 200px;
}
  
table {
    width: 100%;
  }

tr.element-row:hover {
    background: whitesmoke;
    cursor:pointer
}

.noLeido {
    font-weight: bold;
}

.example-spacer {
    flex: 1 1 auto;
  }

.mat-divider-vertical{
    height: 30px;
    width: 0px !important;
    position: inherit !important;
}

.tab-icon {
    margin-right: 10px;
}