.ancho-100 {
    width: 100%;
  }

.mat-option img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}