<div class="main-div">
    <mat-card class="loginCard">
        <mat-card-header>
            <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>
        <img class="d-none d-md-block" mat-card-image src="assets/images/login.png" alt="">
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Tu nombre de usuario" formControlName="usuario">
                    <mat-hint></mat-hint>
                    <ng-container *ngIf="loginForm.controls.usuario.errors != undefined">
                        <div class="errorEnValidacion" *ngIf="loginForm.controls.usuario.errors.required">Debe introducir algún valor
                        </div>
                        <div class="errorEnValidacion" *ngIf="loginForm.controls.usuario.errors.minlength">Al menos debe tener 4
                            caracteres</div>
                    </ng-container>
                </mat-form-field>

                <!-- 
                    Para el password se utiliza una propiedad de la clase asociada a este html.
                    La propiedad se llama "ocultarPassword". Gracias a esta propiedad
                -->
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="ocultarPassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword">
                        <mat-icon>{{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngIf="loginForm.controls.password.errors != undefined">
                        <div class="errorEnValidacion" *ngIf="loginForm.controls.password.errors.required">Debe introducir algún valor
                        </div>
                    </ng-container>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="autenticaUsuario()">Entrar</button>
        </mat-card-actions>
    </mat-card>
</div>